.section{
    margin-top: 15px;
}
.section20{
    margin-top: 40px;
}
.landing{
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}
.welcome {
    padding-top: 30vh;
    color: white;
}
.welcome h1{
    padding: 2vh;
}

.mouse {
    margin-top: 20vh;
}

.services{
    background-image: url("../assets/backgrounds/s_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.services h3  {
    color: white;

}
.services p {
    color: white;

}


.contact{
    background-image: url("../assets/backgrounds/c_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}
form input{
    background: rgba(0, 0,0,0.3);
    color: white;
    width: 50vh;
    
    
}
form textarea{
    background: rgba(0, 0,0,0.3);
    color: white;
}
.contact h3{
    color: white;
    
}
.designtxt{
    display: none ;
   }
   .devtxt{
       display: none ; 
   }
   .prodtxt{
       display: none;
   }

   .icorow img{
       padding:3vh
   }

.box1 {
  position: absolute;
  top: 50%;
  left: 20%;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 12px;
  display: none;
}
.box10
{
  position: absolute;
  top: 50%;
  left: 20%;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 12px;
  
}