.section{
    margin-top: 15px;
}
.section20{
    margin-top: 40px;
}
.landing{
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}
.welcome {
    padding-top: 30vh;
    color: white;
}
.welcome h1{
    padding: 2vh;
}

.mouse {
    margin-top: 20vh;
}

.services{
    background-image: url("../assets/backgrounds/s_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.services h3  {
    color: white;

}
.services p {
    color: white;

}
.potimg img{
   width: 250px;
   padding: 10px;

}

.contact{
    background-image: url("../assets/backgrounds/c_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}

